<div class="container">
  <div class="row">
    <h1 class="text-center">Welcome to the Captain Arena !</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h2 class="text-center">Here are all the captains!</h2>
      <ul>
        <% @captains.each do |captain| %>
        <li>
          Name: <%= link_to captain.name, captain_path(captain)  %>
          </li>
        <ul>
          <li>Description: <%= captain.description  %></li>
          <li>Favorite Attack: <%= captain.fav_attack %></li>
          <li>Life Point: <%= captain.life_point  %></li>
          <li>Attack Power <%= captain.attack_power %></li>
          <li><%= link_to "Edit Captain", edit_captain_path(captain), class:"btn btn-warning" %></li>
          <li><%= link_to "Delete Captain", captain_path(captain), method: :delete, data: { confirm: "Are you sure to delete #{captain.name} ?" }, class:"btn btn-primary" %></li>
        </ul>
        <% end %>
      </ul>
      <%= link_to "Add a new Captain", new_captain_path, class:"btn btn-danger" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2 class="text-center">Games</h2>
    </div>
    <div class="col-xs-12 col-md-4">
      <h2 class="text-center">Ranking</h2>
    </div>
  </div>
</div>
